<!DOCTYPE html>
<html lang="br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

<% provide(:title, "Log in -  Sistema de Gestão Colory") %>

</head>

<body>


<div class="container">
<div class="row">
  <div class="col s6 offset-s3">
  		
  		<h4>Sistema de Gestão Colory</h4>	

  		<div class="divider"></div>

    <%= form_for(:session, url: '/login') do |f| %>

      <div class="input-field">
      <i class="material-icons prefix">person</i>
      <%= f.email_field :email, class: 'form-control validate', required:true %>
      <%= f.label :email %>
      </div>

      <div class="input-field">
      <i class="material-icons prefix">fingerprint</i>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control validate', required:true %>
      </div>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
</div>
</body>
</html>
