<%= form_with(model: turma, local: true) do |form| %>
  <% if turma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(turma.errors.count, "error") %> prohibited this turma from being saved:</h2>

      <ul>
      <% turma.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :faculdade %>
    <%= form.text_field :faculdade, id: :turma_faculdade %>
  </div>

  <div class="field">
    <%= form.label :curso %>
    <%= form.text_field :curso, id: :turma_curso %>
  </div>

  <div class="field">
    <%= form.label :cidade %>
    <%= form.text_field :cidade, id: :turma_cidade %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
